.card-title {
  transition: transform 0.2s;
}
.card-title:hover {
  color: aqua;
  margin-left: 10px;
}

.zoom {
  transition: transform 0.3s;
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
}
